* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffebe2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  max-width: 60vw;
  margin: 1rem auto;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
